{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
{% if app.user %}
    <h1>Bienvenue {{ user.firstname }} </h1>
{% else %}
    <h1>Welcome</h1>
{% endif %}
{# {% include "components/organisms/navbar.html.twig" %} #}
<section>
    {% for label, messages in app.flashes(['success']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show mt-3" role="alert">
                {{ message }}
                <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endfor %}
</section>



{% endblock %}
