<h1>
    Bonjour, merci de confirmer votre email
</h1>

<p>
    Merci de valider votre email en cliquant sur le lien suivant: 
    <br>
        <br>
            <a href="{{ signedUrl }}">
                Confirmer mon Email
            </a>
            .
                Ce liens expire dans 
            {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}
            .
            
        </p>

        <p>
            Merci!
            
        </p>
        