
{% block body %}

{% if app.user %}
<div {{ react_component('LogoutNavbar',{acceuil:"/" , connexion:"/logout" , tutos:"#" , about:"#" })  }}></div>
{% else %} 
<div {{ react_component('Navbar',{acceuil:"/" , connexion:"/login" , tutos:"#" , about:"#" })  }}></div>
{% endif %}


{% endblock %}